---
import type { CollectionEntry } from "astro:content";
import Banner from "./Banner.astro";

interface Props {
  postsArray: {
    year: string;
    posts: CollectionEntry<"blogPosts">[];
  }[];
}

const { postsArray } = Astro.props;
---

<ol>
  {
    postsArray.map((d) => (
      <>
        {/* Year */}
        <Banner>
          <h1 class="text-4xl font-bold">{d.year}</h1>
        </Banner>

        <ol class="mb-10 flex flex-col gap-y-10">
          {d.posts.map((p) => (
            <li class="flex flex-col gap-y-2">
              {/* Title */}
              <a class="w-fit text-2xl" href={`/posts/${p.id}`}>
                {p.data.title}
              </a>
              <span class="text-secondary flex flex-wrap items-center gap-x-2 text-sm md:text-base">
                {/* Date */}
                <p class="hidden md:block">
                  {p.data.pubDate.toLocaleDateString("default", {
                    month: "long",
                    day: "numeric",
                  })}
                </p>
                <p class="md:hidden">
                  {p.data.pubDate.toLocaleDateString("default", {
                    month: "short",
                    day: "numeric",
                  })}
                </p>

                {/* Divider */}
                <hr class="text-bg-accent h-0.5 grow" />

                {/* Tags */}
                <ul class="ml-auto flex flex-row gap-x-2">
                  {p.data.tags.sort().map((t) => (
                    <li>
                      <a href={`/tags/${t}`}>{`#${t}`}</a>
                    </li>
                  ))}
                </ul>
              </span>
              {/* Description */}
              <p class="text-secondary">{p.data.description}</p>
            </li>
          ))}
        </ol>
      </>
    ))
  }
</ol>
