---
import Page from "./Page.astro";

interface Props {
  frontmatter: {
    title: string;
    description: string;
    pubDate: Date;
    updateDate?: Date;
    tags: string[];
  };
}

const { frontmatter } = Astro.props;
---

<Page pageTitle={frontmatter.title}>
  <div class="flex justify-center">
    <article class="prose prose-main md:prose-lg">
      <h1 class="text-balance">{frontmatter.title}</h1>
      <div class="not-prose text-lg md:text-xl">
        <span class="mb-1 flex flex-row justify-between">
          <p class="hidden md:block">
            {
              frontmatter.pubDate.toLocaleDateString("default", {
                day: "numeric",
                month: "long",
                year: "numeric",
              })
            }
          </p>
          <p class="md:hidden">
            {
              frontmatter.pubDate.toLocaleDateString("default", {
                day: "numeric",
                month: "short",
                year: "numeric",
              })
            }
          </p>
          <p class="hidden md:block">
            {
              frontmatter.updateDate &&
                `Updated ${frontmatter.pubDate.toLocaleDateString("default", {
                  day: "numeric",
                  month: "long",
                  year: "numeric",
                })}`
            }
          </p>
          <p class="md:hidden">
            {
              frontmatter.updateDate &&
                `Updated ${frontmatter.pubDate.toLocaleDateString("default", {
                  day: "numeric",
                  month: "short",
                  year: "numeric",
                })}`
            }
          </p>
        </span>
        <ul class="flex flex-row gap-x-2.5">
          {
            frontmatter.tags.sort().map((t) => (
              <li class="text-gruv-yellow">
                <a href={`/tags/${t}`}>
                  <i class="fa-solid fa-tag text-sm" />
                  {t}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
      <p class="lead">{frontmatter.description}</p>
      <slot />
    </article>
  </div>
</Page>
